body{
    margin: 0;
    padding: 0;
}
header {
    background-color: orangered;
    color: #fff;
}
h3{
    text-align: center;
}
.register{
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
     top: 50%; /*change garna parxa */
    left: 50%; /*change garna parxa */
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px 30px 10px 50px;
}
.button{
    text-align: center;
}
